.game {
	width: 250px;
	margin: auto;
	font-family: sans-serif;
	background-color: whitesmoke;
}

.settings-wrapper {
	width: 100%;
	height: 50px;
	text-align: center;
	margin: 30px auto 10px auto;
	display: table;
	background-color: #f44336;
	color: white;
	font-weight: bold;

}

.settings {
	display: table-cell;
	vertical-align: middle;
}

.board-wrapper {
	width: 150px;
	margin: auto;
	padding-bottom: 15px;
}

.status {
	margin-bottom: 5px;
	/*height: 50px;*/
	text-align: center;
	background-color: #f44336;
	color: white;
	line-height: 20px;
}

.board {
	display: grid;
	grid-template-rows: repeat(3,50px);
	grid-template-columns: repeat(3,50px);
}

.cell {
	border: 1px solid lightgrey;
}

.unmarked {
	/*background-color: lightgrey;*/
}

.marked {
	transition: 0.2s cubic-bezier(0.42, 0, 0.74, 2.67);
	/*background-color: white;*/
	text-align: center;
	line-height: 50px;
	font-size: 35px;
}

.btn {
	margin: auto;
	width: 100%;
	height: 30px;
}