html, body, .root {
    height: 100%;
    width: 100%;
    margin: 0;
    border:1px solid transparent;
    font-family: sans-serif;
}

.root {
    background-color: #fafafa;
}

.game-container {
    margin: 100px auto;
    width: fit-content;
}

.info {
    font-size: 36px;
    font-weight: 600;
    text-align: center;
    padding: 8px 4px;
    color: white;
    background-color: #333;
}

.board {
    font-size: 64px;
    font-weight: 600;
    padding: 12px 0px;
}

.row {
    display: flex;
}

.cell {
    width: 150px;
    height: 150px;
    border-top: 1px solid #333;
    border-left: 1px solid #333;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cell:last-child {
    border-right: 1px solid #333;
}

.row:last-child .cell {
    border-bottom: 1px solid #333;
}

.cell {
    background-color: white;
    cursor: pointer;
}

.game-over .cell {
    background-color: #ddd;
    cursor: default;
}

.cell.marked-X {
    color: blue;
}

.cell.marked-O {
    color: red;
}



.controls {
    display: flex;
    justify-content: space-between;
}